/* important */
@font-face {
  src: url(../font/FontsFree-Net-AvertaStandard-Regular.ttf);
  font-family: AvertaStdCY;
}
.nav-item__dropdown {
  text-align: left;
}
body {
  font-family: AvertaStdCY;
}

a:hover {
  text-decoration: none;
}

.wrapper {
  max-width: 1024px;
  margin: auto;
}

.container {
  max-width: 1024px;
  padding: 0;
}

.navbar {
  padding: 0;
}

/* header */
.navbar-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff !important;
  z-index: 10;
}

.nav-item .nav-link {
  font-family: AvertaStdCY;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #484848;
  border-bottom: 3px solid transparent;
  border-radius: 0;
}

.menu-dropdown {
  min-width: 95px;
  padding: 0px;
  position: absolute;
  background: #ffffff;
  z-index: 100;
  text-align: center;
}

.menu-dropdown::after {
  content: "";
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 101;
  transition: "0.5s border-top";
}

.nav-item:not(:hover) > .menu-dropdown {
  padding: 4px 0;
  /* background: #dddddd; */
  z-index: 99;
}

.nav-item:not(:hover) > .menu-dropdown:after {
  border-top-color: #dddddd;
}

.nav-item:not(:hover) > .menu-title:after {
  border-bottom-color: #dddddd;
}

.nav-item:not(:hover) > .menu-dropdown > * {
  visibility: hidden;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  color: rgba(25, 25, 25, 0);
  z-index: 99;
}

.nav-item__dropdown:hover {
  background-color: #dddddd;
}
.nav-item .nav-link:hover {
  color: #484848;
  border-bottom: 3px solid #019851;
}

.nav-item .nav-link:focus {
  color: #484848;
  border-bottom: 3px solid #019851;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler {
  margin-right: 10px;
}

/* breadcrumb */

.breadcrumb {
  background-color: #e6f5ee;
  padding-top: 100px;
}

.wrapper-intro {
  width: 1024px;
  margin: auto;
  flex-direction: column;
  padding-left: 16px;
}

.list {
  padding-left: 0px;
}

ul.list {
  list-style: none;
}
ul.list li {
  display: inline;
  font-size: 14px;
}
ul.list li + li:before {
  color: #484848;
  content: "/\00a0";
}
ul.list li a {
  text-decoration: none;
  color: #7d817e;
}
ul.list li a:hover {
  text-decoration: none;
}

.intro-title {
  font-family: AvertaStdCY;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #019851;
}

/* main */
.news-total {
  overflow: hidden;
  padding-top: "40px";
  padding-bottom: 80px;
  border-bottom: solid 1px #e7e7e7;
}

.news-theme {
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #019851;
  padding-top: 80px;
}

.news-title {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #adb6b0;
  padding-top: 20px;
}

.img-news-detail {
  padding-top: 40px;
  width: 100%;
}

.title-news {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #484848;
}

.img-title {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #7d817e;
  padding-top: 20px;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-last {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: start;
  color: #484848;
  padding-top: 40px;
}

/* new-other */
.news-other {
  padding-bottom: 50px;
}

.news-other-title {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.73;
  letter-spacing: normal;
  text-align: center;
  color: #484848;
  position: relative;
  padding-top: 60px;
  padding-bottom: 55px;
}

.news-other-title::before {
  content: "";
  width: 50px;
  height: 5px;
  background-color: #019851;
  position: absolute;
  top: 110px;
  left: 48%;
}

.link-post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-post {
  max-width: 317px;
  height: 237.8px;
  padding-bottom: 20px;
}

.img-post:hover {
  transform: scale3d(1.1, 1.1, 1);
}

.title-post {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #019851;
}

.time-post {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #adb6b0;
}

/* footer */
.footer {
  background-color: #019851;
  overflow: hidden;
  padding: 54px 10px 33px 10px;
  border-bottom: solid 1px rgba(236, 236, 236, 0.18);
}

.footer-name {
  color: #ffffff;
  font-size: 14px;
  line-height: 32px;
  font-weight: bold;
  letter-spacing: normal;
}

.footer-title {
  color: rgba(255, 255, 255, 0.68);
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: normal;
}

.footer-logo {
  height: 60px;
  width: 37px;
  margin-left: 20px;
}

.footer-last {
  background-color: #019851;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 30px 10px 38px 13px;
  overflow: hidden;
  position: relative;
}

.link-bct {
  position: absolute;
  overflow: hidden;
  right: 8%;
  bottom: 70%;
}

.footer-last-cap {
  color: rgba(255, 255, 255, 0.68);
  font-size: 12px;
  line-height: 30px;
  letter-spacing: normal;
  padding: 0px 29px;
}

.footer-license {
  color: rgba(255, 255, 255, 0.68);
  font-size: 12px;
  line-height: 30px;
  letter-spacing: normal;
}

@media (max-width: 992px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .link-bct {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    right: 45%;
  }
}

@media (max-width: 576px) {
  .carousel-caption {
    padding: 0;
  }

  .carousel-indicators {
    justify-content: flex-start;
    bottom: 5px;
    left: 20px;
  }

  .footer {
    display: none;
  }

  .social {
    display: none;
  }

  .total-title {
    margin: auto;
  }

  .link-bct {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    right: 40%;
  }
}
